// settings
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');


$font-main: "Inter", sans-serif; //change
$font-main2: "DM Sans", sans-serif;
$font-main3: "Manrope", sans-serif;
$fontIcon: "icomoon";

:root {
    --primary: #43BAFF;
    --main-dark: #19272B;
    --stroke-2: #FFFFFF26;
    --surface: #E1F2F2;
    --white: #FFFFFF;
    --dark-2: #142125;
    --main-blue-1: #086AD8;

}